.searchpopup {
	width: 250px;
	height: 205px;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 4px 4px black;

	&__searchbar {
		&__search {
			padding-top: 28px;
			display: flex;
			justify-content: center;
			input {
				height: 28px;
				padding-left: 8px;
				background-color: $searchpopupsearchbg;
				border: 0;
				border-radius: 5px;
				color: $searchpopupsearchtext;
				font-family: "Inter SemiBold";
				font-size: 0.75rem;
			}
		}
	}

	&__subscriptionscontainer {
		display: grid;
		grid-template-columns: 80% 20%;
		align-items: center;
		p {
			padding-left: 28px;
			grid-column-start: 1;
			color: $textdark;
			font-family: "Nunito Medium";
			font-size: 0.875rem;
		}
		img {
			margin-right: auto;
			grid-column-start: 2;
		}
	}
}
