#spotifymain {
	width: 90%;
	height: 316px;
	display: grid;
	grid-template-areas: "artwork tracks";
	grid-template-columns: 219px 596px;

	&__artwork {
		grid-area: artwork;
		width: 219px;
		height: calc(316px - 44px);
		padding-left: 24px;
		color: $purpletext;
		font-family: "Poppins Semi Bold";
		font-size: 1.125rem;
		overflow: hidden;
		img {
			width: 195px;
			height: 195px;
			border-radius: 10px;
		}
	}

	&__tracks {
		grid-area: tracks;
		//width: 596px;
		height: calc(316px - 44px);
		overflow: hidden;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0px;
			display: none;
		}
	}

	// &__popup {
	// 	width: 250px;
	// 	height: 205px;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 1.5625rem;
	// 	background-color: #ffffff;
	// 	border-radius: 15px;
	// 	box-shadow: 0px 4px 4px black;
	// 	display: none;

	// &__searchbar {
	// 	&__search {
	// 		padding-top: 28px;
	// 		display: flex;
	// 		justify-content: center;
	// 		input {
	// 			height: 28px;
	// 			padding-left: 8px;
	// 			background-color: $searchpopupsearchbg;
	// 			border: 0;
	// 			border-radius: 5px;
	// 			color: $searchpopupsearchtext;
	// 			font-family: "Inter SemiBold";
	// 			font-size: 0.75rem;
	// 		}
	// 	}
	// }

	// &__subscriptionscontainer {
	// 	display: grid;
	// 	grid-template-columns: 80% 20%;
	// 	align-items: center;
	// 	p {
	// 		padding-left: 28px;
	// 		grid-column-start: 1;
	// 		color: $textdark;
	// 		font-family: "Nunito Medium";
	// 		font-size: 0.875rem;
	// 	}
	// 	img {
	// 		margin-right: auto;
	// 		grid-column-start: 2;
	// 	}
	// }
	//}
}
