#spotifypopup {
	width: 500px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	border-radius: 15px;
	box-shadow: 0px 0px 20px $lightgray;
	z-index: 10;

	// Arrow CSS
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 5.4%;
	// 	// margin-top: -25px; // adjust position, arrow has a height of 30px.
	// 	right: -28px;
	// 	border: solid 15px transparent;
	// 	border-left-color: $purple;
	// }

	&__searchbar {
		&__search {
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			background-color: $white;
			border-bottom: 1px solid $border;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			&__searchicon {
				img {
					width: 20px;
					height: 20px;
					padding-top: 3px;
					padding-left: 8px;
				}
			}
			input {
				width: 425px;
				height: 40px;
				padding-left: 8px;
				background-color: $white;
				border: none;
				border-radius: 10px;
				color: $darkgray;
				font-family: "Ubuntu Medium";
				font-size: 1.125rem;
			}
			input:focus {
				outline: none;
			}
			&__clearicon {
				cursor: pointer;
				img {
					width: 27px;
					height: 27px;
					z-index: 11;
				}
			}
		}
	}

	&__subscriptionscontainer {
		width: 475px;
		margin: 0 auto;
		padding-top: 15px;
		overflow: hidden;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0px;
			display: none;
		}

		ul {
			width: 450px;
			height: 230px;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				margin: 0;
				padding: 0;
				display: grid;
				grid-template-columns: 8% 82% 10%;
				grid-template-areas: "icon title toggle";
				align-items: center;
				cursor: pointer;
			}

			p {
				grid-area: title;
				margin: 5px;
				color: $darkgray;
				font-family: "Ubuntu Medium";
				font-size: 1rem;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			img {
				grid-area: icon;
				height: 23px;
				width: 23px;

				grid-column-start: 1;
			}
		}
	}
}

//Categories CSS
#spotifypopup__categories {
	width: 70%;
	height: 50px;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		list-style-type: none;
	}
	li {
		cursor: pointer;
	}
}

.spotifypopup__categories__category {
	width: 100px;
	margin-left: 10px;
	text-align: center;
	border-bottom: 1px solid $border;
	p {
		margin-bottom: 10px;
		color: $darkgray;
		font-family: "Ubuntu Medium";
		font-size: 1rem;
	}

	&__selected {
		border-bottom: 2px solid $black;
		p {
			margin-bottom: 9px;
			font-family: "Ubuntu Medium";
			color: $black;
		}
	}
}
