.spotifycontainer {
	&__titlebar {
		display: flex;
		align-items: center;
		padding-left: 17px;
		h3 {
			font-family: "Inter Bold";
			font-size: 1.125rem;
			color: $textareaheading;
		}
		img {
			margin-left: auto;
			padding-right: 15px;
			width: 16px;
			height: 16px;
		}
	}
}
