.spotifytrack {
	display: grid;
	grid-template-areas:
		"artwork title title title"
		"artwork artist date link"
		"artwork . . .";
	justify-content: start;
	gap: 0 0.625rem;
	&__artwork {
		grid-area: artwork;
		img {
			height: 45px;
			width: 45px;
			border-radius: 8px;
		}
	}

	&__title {
		grid-area: title;
		margin: 0;
		padding: 0;
		color: $textdark;
		font-family: "Inter Medium";
		font-size: 0.875rem;
	}

	&__artist {
		grid-area: artist;
		margin: 0;
		padding: 0;
		color: $textinactive;
		font-family: "Inter Regular";
		font-size: 0.6875rem;
	}

	&__date {
		grid-area: date;
		color: $textinactive;
		font-family: "Inter Regular";
		font-size: 0.6875rem;
	}

	&__link {
		grid-area: link;
		display: flex;
		img {
			margin: 0;
			padding: 0;
			width: 15px;
			height: 15px;
			align-items: center;
		}
	}
}
