#spotifycontainer {
	&__titlebar {
		width: 100%;
		height: 36px;
		display: flex;
		justify-content: end;
		align-items: center;

		h3 {
			padding-right: 1px;
			font-family: "Ubuntu Medium";
			font-size: 1.125rem;
			color: $gray4;
		}
		img {
			width: 24px;
			height: 24px;
			padding-right: 8px;
		}
	}
}
