#spotifypopup {
	width: 350px;
	height: 330px;
	position: absolute;
	top: 55.2%;
	left: 29.8%;
	background-color: $white;
	border-radius: 15px;
	box-shadow: 0px 0px 20px $lightgray;
	z-index: 10;

	&::before {
		content: "";
		position: absolute;
		top: 8%;
		// margin-top: -25px; // adjust position, arrow has a height of 30px.
		right: -28px;
		border: solid 15px transparent;
		border-left-color: $white;
	}

	&__title {
		margin: 0;
		padding-top: 20px;
		padding-left: 16px;
		font-size: 1.125rem;
		font-family: "Ubuntu Bold";
		color: $darkgray;
		text-align: center;
	}

	&__searchbar {
		&__search {
			padding-top: 15px;
			display: flex;
			justify-content: center;
			input {
				width: 250px;
				height: 35px;
				padding-left: 8px;
				background-color: $white;
				border: 1px solid $border;
				border-radius: 10px;
				color: $lightgray;
				font-family: "Ubuntu Medium";
				font-size: 0.875rem;
			}
			input:focus {
				background-color: #ebeff7;
				border: 1px solid #8a33f4;
				color: $black;
				outline: none;
			}
			&__clearicon {
				width: 27px;
				height: 27px;
				position: absolute;
				top: 63px;
				left: 275px;
				cursor: pointer;
				opacity: 50%;
				z-index: 11;
			}
		}
	}

	&__subscriptionscontainer {
		width: 250px;
		margin: 0 auto;
		padding-top: 8px;
		overflow: hidden;
		overflow-y: scroll;

		ul {
			width: 250px;
			height: 225px;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				margin: 0;
				padding: 0;
				display: grid;
				grid-template-columns: 90% 10%;
				align-items: center;
				cursor: pointer;
			}

			p {
				margin: 5px;
				grid-column-start: 1;
				color: $darkgray;
				font-family: "Ubuntu Medium";
				font-size: 1rem;
			}
			img {
				justify-self: end;
				margin-right: auto;
				grid-column-start: 2;
			}
		}
	}
}
