.titlebar {
    width: 100%;
    height: 60px;
    background-color: $titlebarbg;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        color: $logo;
        font-family: 'Nunito Sans';
        font-size: 1.875rem;
    }

    &__logo {
        padding-left: 37px;
    }

    &__topnav {
        width: 25%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &__button {
            margin-right: 20px;
        }
    }

    &__settingsbutton {
        padding-right: 20px;
    }
}