$titlebarbg: #25064c;
$logo: #cceaff;
$areabg: #f7f3fc;
$textdark: #282430;
$textinactive: #ac9fc6;
$textareaheading: #858fa3;
$playerbg: #f0ecf9;
$searchpopupsearchbg: #e7eeee;
$searchpopupsearchtext: #afa8bd;

// $titlebarbg: #25064c;
// $logo: #cceaff;
// $areabg: #f7f3fc;
// $textdark: #282430;
// $textinactive: #ac9fc6;
// $textareaheading: #858fa3;
// $playerbg: #f0ecf9;
// $searchpopupsearchbg: #e7eeee;
// $searchpopupsearchtext: #afa8bd;

$white: #fff;
$offwhite: #f3f4f6;
$border: #d9d9d9;
$black: #1f2937;
$darkgray: #374151;
$mediumgray: #6b7280;
$lightgray: #9ca3af;
$popupbg: #182233;
$purple: #8a33f4;
$offwhitebg: #f7f0fe;
