@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/Nunito_Sans/NunitoSans-Black.ttf");
	//only for logo
}
@font-face {
	font-family: "Inter Black";
	src: url("../fonts/Inter/Inter-Black.ttf");
}
@font-face {
	font-family: "Inter Bold";
	src: url("../fonts/Inter/Inter-Bold.ttf");
}
@font-face {
	font-family: "Inter ExtraBold";
	src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}
@font-face {
	font-family: "Inter ExtraLight";
	src: url("../fonts/Inter/Inter-ExtraLight.ttf");
}
@font-face {
	font-family: "Inter Light";
	src: url("../fonts/Inter/Inter-Light.ttf");
}
@font-face {
	font-family: "Inter Medium";
	src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
	font-family: "Inter Regular";
	src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
	font-family: "Inter SemiBold";
	src: url("../fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
	font-family: "Inter Thin";
	src: url("../fonts/Inter/Inter-Thin.ttf");
}

//Ubuntu fonts
@font-face {
	font-family: "Ubuntu Bold";
	src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
	font-family: "Ubuntu Bold Italic";
	src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
}
@font-face {
	font-family: "Ubuntu Italic";
	src: url("../fonts/Ubuntu/Ubuntu-Italic.ttf");
}
@font-face {
	font-family: "Ubuntu Light";
	src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}
@font-face {
	font-family: "Ubuntu Light Italic";
	src: url("../fonts/Ubuntu/Ubuntu-LightItalic.ttf");
}
@font-face {
	font-family: "Ubuntu Medium";
	src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
	font-family: "Ubuntu Medium Italic";
	src: url("../fonts/Ubuntu/Ubuntu-MediumItalic.ttf");
}
@font-face {
	font-family: "Ubuntu Light Italic";
	src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
