@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-Black.ttf");
}
@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter/Inter-Black.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter ExtraBold";
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter ExtraLight";
  src: url("../fonts/Inter/Inter-ExtraLight.ttf");
}
@font-face {
  font-family: "Inter Light";
  src: url("../fonts/Inter/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter Thin";
  src: url("../fonts/Inter/Inter-Thin.ttf");
}
.titlebar {
  width: 100%;
  height: 60px;
  background-color: #25064C;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
}
.titlebar h1 {
  margin: 0;
  padding: 0;
  color: #cceaff;
  font-family: "Nunito Sans";
  font-size: 1.875rem;
}
.titlebar__logo {
  padding-left: 37px;
}
.titlebar__topnav {
  width: 25%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlebar__topnav__button {
  margin-right: 20px;
}
.titlebar__settingsbutton {
  padding-right: 20px;
}

.bandview {
  width: calc(100% - 50px);
  margin: 35px auto 0 auto;
  display: grid;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 19px;
  grid-template-areas: "spotify youtube instagram" "spotify player instagram";
  grid-template-columns: 1fr 2.6fr 1fr;
  grid-template-rows: auto 75px;
}
.bandview__left {
  grid-area: spotify;
  height: 680px;
  background-color: #F7F3FC;
  border-radius: 15px;
}
.bandview__left__titlebar {
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.bandview__left__titlebar h3 {
  font-family: "Inter Bold";
  font-size: 1.125rem;
  color: #858FA3;
}
.bandview__left__titlebar img {
  padding-left: 5px;
  width: 16px;
  height: 16px;
}
.bandview__center {
  grid-area: youtube;
  height: 587px;
  background-color: #F7F3FC;
  border-radius: 15px;
}
.bandview__center__titlebar {
  padding-left: 17px;
  display: flex;
  align-items: center;
}
.bandview__center__titlebar h3 {
  font-family: "Inter Bold";
  font-size: 1.125rem;
  color: #858FA3;
}
.bandview__center__titlebar img {
  padding-left: 5px;
  width: 16px;
  height: 16px;
}
.bandview__player {
  grid-area: player;
  background-color: #F0ECF9;
  border-radius: 15px;
}
.bandview__right {
  grid-area: instagram;
  height: 680px;
  background-color: #F7F3FC;
  border-radius: 15px;
}
.bandview__right__titlebar {
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.bandview__right__titlebar h3 {
  font-family: "Inter Bold";
  font-size: 1.125rem;
  color: #858FA3;
}
.bandview__right__titlebar img {
  padding-left: 5px;
  width: 16px;
  height: 16px;
}

html {
  font-family: "Inter";
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */