html {
	font-family: "Ubuntu";
	font-size: 16px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.App {
	display: grid;
	grid-template-areas:
		"sidebar main"
		"sidebar main";
	grid-template-columns: 78px auto;
	grid-template-rows: auto auto;
}

// Imports
@import "fonts";
@import "colors";
@import "../components/Sidebar/sidebar";
@import "../components/BandView/bandview";
@import "../components/Spotify/sass/spotifycontainer";
@import "../components/Spotify/sass/spotifypopup";
@import "../components/Spotify/sass/spotifymain";
@import "../components/Spotify/sass/spotifyartwork";
@import "../components/Spotify/sass/spotifytrack";
