html {
	font-family: "Ubuntu";
	font-size: 16px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.App {
	display: grid;
	grid-template-areas:
		"sidebar searchbar"
		"sidebar main";
	grid-template-columns: 96px auto;
	grid-template-rows: 85px auto;
}

// Imports
@import "fonts";
@import "colors";
@import "../components/Sidebar/sidebar";
@import "../components/BandView/bandview";
@import "../components/Spotify/spotifycontainer";
@import "../components/Spotify/spotifymain";
@import "../components/Spotify/spotifytrack";
