html {
  font-family: "Ubuntu";
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-areas: "sidebar main" "sidebar main";
  grid-template-columns: 78px auto;
  grid-template-rows: auto auto;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Italic";
  src: url("../fonts/Ubuntu/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("../fonts/Ubuntu/Ubuntu-LightItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu Medium Italic";
  src: url("../fonts/Ubuntu/Ubuntu-MediumItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
.sidebar {
  grid-area: sidebar;
  width: 78px;
  height: calc(100vh - 2px);
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
  border: 0.5px solid #d9d9d9;
}
.sidebar__logo {
  height: 86px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #d9d9d9;
}
.sidebar__logo img {
  height: 65px;
  width: 65px;
}
.sidebar__nav {
  width: 100%;
  height: calc(100% - 86px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar__nav__button {
  height: 26px;
  width: 26px;
  margin-bottom: 45px;
}
.sidebar__settingsbutton {
  padding-right: 20px;
}

#bandview {
  width: 100%;
  height: 100%;
  grid-area: main;
  display: grid;
  grid-template-areas: "youtube instagram" "spotify instagram";
}
#bandview__youtube {
  grid-area: youtube;
  width: 815px;
  height: 434px;
  margin-left: 30px;
  border-radius: 10px;
  border: 0.5px solid #d9d9d9;
}
#bandview__spotify {
  grid-area: spotify;
  width: 815px;
  height: 316px;
  margin: 20px 20px 20px 30px;
  border-radius: 10px;
  border: 0.5px solid #d9d9d9;
}
#bandview__instagram {
  grid-area: instagram;
  width: 464px;
  height: 718px;
  border-radius: 10px;
  border: 0.5px solid #d9d9d9;
}

#spotifycontainer__titlebar {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: end;
}
#spotifycontainer__titlebar h3 {
  margin: 0;
  padding-right: 8px;
  font-family: "Ubuntu Medium";
  font-size: 1.125rem;
  color: #6b7280;
}
#spotifycontainer__titlebar img {
  padding-right: 0px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
#spotifycontainer__login {
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spotifycontainer__loginbtn {
  width: 350px;
  height: 50px;
  background-color: #1ed760;
  border: none;
  border-radius: 30px;
  color: #374151;
  font-family: "Ubuntu Bold";
  font-size: 1rem;
}

#spotifypopup {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #9ca3af;
  z-index: 10;
}
#spotifypopup__searchbar__search {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#spotifypopup__searchbar__search__searchicon img {
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-left: 8px;
}
#spotifypopup__searchbar__search input {
  width: 425px;
  height: 40px;
  padding-left: 8px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1.125rem;
}
#spotifypopup__searchbar__search input:focus {
  outline: none;
}
#spotifypopup__searchbar__search__clearicon {
  cursor: pointer;
}
#spotifypopup__searchbar__search__clearicon img {
  width: 27px;
  height: 27px;
  z-index: 11;
}
#spotifypopup__subscriptionscontainer {
  width: 475px;
  margin: 0 auto;
  padding-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
}
#spotifypopup__subscriptionscontainer::-webkit-scrollbar {
  width: 0px;
  display: none;
}
#spotifypopup__subscriptionscontainer ul {
  width: 450px;
  height: 230px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#spotifypopup__subscriptionscontainer ul li {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 8% 82% 10%;
  grid-template-areas: "icon title toggle";
  align-items: center;
  cursor: pointer;
}
#spotifypopup__subscriptionscontainer ul p {
  grid-area: title;
  margin: 5px;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#spotifypopup__subscriptionscontainer ul img {
  grid-area: icon;
  height: 23px;
  width: 23px;
  grid-column-start: 1;
}

#spotifypopup__categories {
  width: 70%;
  height: 50px;
}
#spotifypopup__categories ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style-type: none;
}
#spotifypopup__categories li {
  cursor: pointer;
}

.spotifypopup__categories__category {
  width: 100px;
  margin-left: 10px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.spotifypopup__categories__category p {
  margin-bottom: 10px;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1rem;
}
.spotifypopup__categories__category__selected {
  border-bottom: 2px solid #1f2937;
}
.spotifypopup__categories__category__selected p {
  margin-bottom: 9px;
  font-family: "Ubuntu Medium";
  color: #1f2937;
}

#spotifymain {
  width: 90%;
  height: 316px;
  display: grid;
  grid-template-areas: "artwork tracks";
  grid-template-columns: 219px 596px;
}
#spotifymain__artwork {
  grid-area: artwork;
  width: 219px;
  height: 272px;
  padding-left: 24px;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1.125rem;
}
#spotifymain__artwork img {
  width: 195px;
  height: 195px;
  border-radius: 10px;
}
#spotifymain__tracks {
  grid-area: tracks;
  height: 272px;
  overflow: scroll;
}

#spotifyartwork {
  width: 219px;
  height: 272px;
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: spotifyartwork;
}
#spotifyartwork img {
  width: 195px;
  height: 195px;
  border-radius: 10px;
  border: 0.5px solid #d9d9d9;
}
#spotifyartwork p {
  width: 195px;
  margin: 0;
  padding-left: 10px;
  font-family: "Ubuntu Medium";
  font-size: 1.125rem;
  color: #374151;
}

.playlisttrack {
  padding-bottom: 1px;
  display: grid;
  grid-template-areas: "number artwork title title play like" "number artwork artist date play like";
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}
.playlisttrack__number {
  grid-area: number;
  justify-self: center;
  align-self: center;
  color: #9ca3af;
  font-family: "Ubuntu Bold";
  font-size: 1.25rem;
}
.playlisttrack__number {
  grid-area: number;
  font-family: "Ubuntu Bold";
  font-size: 1.5rem;
  color: #9ca3af;
}
.playlisttrack__artwork {
  position: relative;
  grid-area: artwork;
  justify-self: start;
}
.playlisttrack__artwork img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.playlisttrack__albumicon {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.playlisttrack__albumicon img {
  position: absolute;
  width: 21px;
  height: 21px;
  padding-bottom: 5px;
  filter: drop-shadow(4px 4px 5px #374151);
  z-index: 1;
}
.playlisttrack__title {
  grid-area: title;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1rem;
  justify-self: start;
}
.playlisttrack__artist {
  grid-area: artist;
  color: #6b7280;
  font-family: "Ubuntu Regular";
  font-size: 0.75rem;
  justify-self: start;
}
.playlisttrack__date {
  grid-area: date;
  color: #6b7280;
  font-family: "Ubuntu Regular";
  font-size: 0.75rem;
  justify-self: center;
}
.playlisttrack__play {
  grid-area: play;
  width: 40px;
  height: 40px;
  border: 0.5px solid #d9d9d9;
  border-radius: 10px;
  justify-self: end;
}
.playlisttrack__play img {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}
.playlisttrack__like {
  grid-area: like;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 0.5px solid #d9d9d9;
  border-radius: 10px;
}
.playlisttrack__like img {
  padding-top: 6px;
  width: 25px;
  height: 25px;
}

.artisttrack {
  padding-bottom: 1px;
  display: grid;
  grid-template-areas: "number artwork title title play like" "number artwork artist date play like";
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}
.artisttrack__number {
  grid-area: number;
  justify-self: center;
  align-self: center;
  color: #9ca3af;
  font-family: "Ubuntu Bold";
  font-size: 1.25rem;
}
.artisttrack__number {
  grid-area: number;
  font-family: "Ubuntu Bold";
  font-size: 1.5rem;
  color: #9ca3af;
}
.artisttrack__artwork {
  position: relative;
  grid-area: artwork;
  justify-self: start;
}
.artisttrack__artwork img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.artisttrack__albumicon {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.artisttrack__albumicon img {
  position: absolute;
  width: 21px;
  height: 21px;
  padding-bottom: 5px;
  filter: drop-shadow(4px 4px 5px #374151);
  z-index: 1;
}
.artisttrack__title {
  grid-area: title;
  color: #374151;
  font-family: "Ubuntu Medium";
  font-size: 1rem;
  justify-self: start;
}
.artisttrack__artist {
  grid-area: artist;
  color: #6b7280;
  font-family: "Ubuntu Regular";
  font-size: 0.75rem;
  justify-self: start;
}
.artisttrack__date {
  grid-area: date;
  color: #6b7280;
  font-family: "Ubuntu Regular";
  font-size: 0.75rem;
  justify-self: center;
}
.artisttrack__play {
  grid-area: play;
  width: 40px;
  height: 40px;
  border: 0.5px solid #d9d9d9;
  border-radius: 10px;
  justify-self: end;
}
.artisttrack__play img {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}
.artisttrack__like {
  grid-area: like;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 0.5px solid #d9d9d9;
  border-radius: 10px;
}
.artisttrack__like img {
  padding-top: 6px;
  width: 25px;
  height: 25px;
}/*# sourceMappingURL=main.css.map */