#youtubecontainer {
	&__titlebar {
		height: 44px;
		width: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
		justify-content: end;
		h3 {
			margin: 0;
			padding-right: 5px;
			font-family: "Poppins Medium";
			font-size: 1.25rem;
			color: $purpletext;
		}
		img {
			padding-top: 8px;
			height: 18px;
			width: 18px;
			cursor: pointer;
			transform: rotate(90deg);
		}
	}

	&__login {
		height: 390px;
		display: flex;
		justify-content: center;
		align-items: center;

		&btn {
			width: 350px;
			height: 50px;
			background-color: #ff0000;
			border: none;

			// color: #010000;
			color: $white;
			font-family: "Poppins Semi Bold";
			font-size: 1.125rem;
		}
	}
}
