#youtubecontainer {
	height: 100%;
	width: 100%;

	&__titlebar {
		height: 44px;
		width: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
		justify-content: end;
		h3 {
			margin: 0;
			padding-right: 5px;
			font-family: "Poppins Medium";
			font-size: 1.25rem;
			color: $purpletext;
		}
		img {
			padding-top: 8px;
			height: 18px;
			width: 18px;
			cursor: pointer;
			transform: rotate(90deg);
		}
	}

	&__videos {
		width: 95%;
		height: 89%;
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		overflow: hidden;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0px;
			display: none;
		}
	}
}
